body {
    margin: 0px;
    padding: 0px;
}
.header {
    border: 1px solid black ;
    width: auto;
    background-color: aliceblue;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.logo {
    display: inline;
    float: left;
}
.logo-gndec {
    height: 130px;
    width: 130px;
    
}
.name {
    font-weight: bolder;
    font-style: oblique;
    display: inline;
    text-align: center;
}
.toggle {
    margin-right: 20px;
    background-color: pink !important;
    color: black !important;
    border: 1px black ridge  !important;
}
.nameL1 {
    color: gold;
    background-color: red;
    padding:2px;
    margin-bottom: 4px;
    border-radius: 5px;
    display: inline-block;
    font-size: 2dvw;
}
.nameL2 {
    color: gold;
    background-color: blue;
    border-radius: 5px;
    font-size: 2dvw;
}
.nameL3 {
    color: blue;
    border-radius: 5px;
    font-size: 0.8dvw;
}
.nameL4 {
    color: red;
    border-radius: 5px;
    font-size: 0.8dvw;
}
.name:link , name:visited {
    color: gold;
    text-decoration: none;
}
.name:hover , name:active {
    color: gold;
    text-decoration: none;
}
#contents-list {
    list-style: none;
    padding: 0;
    width: 20vw;
    background-color: #ffeff1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.section {
    display: block;
}
#contents-list li {
    font-size: 1dvw;
    color: #fff;
    background-color: #e75480;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
}
.collapse {
    z-index: 2;
    display: inline;
    height: 892px;
}
.page-number {
    display: block;
    background-color: slategray;
    color: aliceblue;
    text-align: center;
}
#contents-list li:hover {
    background-color: #d7436b;
}
#contents-list li::after {
    content: attr(data-page);
    font-weight: bold;
}
.content-page {
    height: 842px;
    width: 595px;
}
.image-container {
    margin-left: auto;
    margin-right: auto;
    
    z-index: 0;
}
button {
    margin: 0 5px; 
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid darkviolet;
    border-radius: 9px;   
}  
.btn1 {
  z-index: 2;
  font-size: 1vw !important;
  margin-left: 10px ;
  color: #000;
  display: inline;
  background-color: transparent !important ;
}
#nextButton {
    background-color: transparent;
    right: 10px;
    backdrop-filter: blur(10px);
    font-style: oblique;
    font-weight: bold;
}
#prevButton {
    background-color: transparent;
    backdrop-filter: blur(2px);
    font-style: oblique;
    font-weight: bold;
}
.btn2 {
  z-index: 2;
  display: inline;
  font-size: 1vw !important;
  margin-right: 10px;
  float: right;
  background-color: transparent !important;
}
.pagination {
    position: relative;
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

@media screen and (max-width: 615px) {
    .image-container {
        height: 920px;
        width: 500px;
    }
    .content-page {
        height: 920px;
        width: 500px;
    }
}
@media screen and (max-width: 437px) {
    .nameL1 {
        font-size: 2vw;
        font-weight: bold;
        padding: none;
        margin: none;
    }
    .nameL2 {
        font-size: 2vw;
        font-weight: bold;
        padding: none;
        margin: none;
    }
    .nameL3 {
        font-size: 1.5vw;
        font-weight: bold;
        padding: none;
        margin: none;
        line-height: 0.5;
    }
    .nameL4 {
        font-size: 1.5vw;
        font-weight: bold;
        padding: none;
        margin: none;
        line-height: 0.5;
    }
    .logo-gndec {
        height: 40px;
        width: 40px;
    }
    .image-container {
        height: 880px;
        width: 300px;
    }
    .content-page {
        height: 880px;
        width: 300px;
    }
}