body {
    margin: 0px;
    padding: 0px;
}
.header {
    border: 1px solid black ;
    width: 100%;
    background-color: aliceblue;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.logo {
    display: inline;
    float: left;
}
.logo-gndec {
    height: 130px;
    width: 130px;
    
}
.name {
    font-weight: bolder;
    font-style: oblique;
    display: inline;
    text-align: center;
}
.toggle {
    margin-right: 20px;
    background-color: pink !important;
    color: black !important;
    border: 1px black ridge  !important;
}
.nameL1 {
    color: gold;
    background-color: red;
    padding:2px;
    margin-bottom: 4px;
    border-radius: 5px;
    display: inline-block;
    font-size: 2dvw;
}
.nameL2 {
    color: gold;
    background-color: blue;
    border-radius: 5px;
    font-size: 2dvw;
}
.nameL3 {
    color: blue;
    border-radius: 5px;
    font-size: 0.8dvw;
}
.nameL4 {
    color: red;
    border-radius: 5px;
    font-size: 0.8dvw;
}
.name:link , name:visited {
    color: gold;
    text-decoration: none;
}
.name:hover , name:active {
    color: gold;
    text-decoration: none;
}
#contents-list {
    list-style: none;
    padding: 0;
    width: 50%;
    background-color: #ffeff1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#contents-list li {
    font-size: 1dvw;
    color: #fff;
    background-color: #e75480;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
}

#contents-list li:hover {
    background-color: #d7436b;
}

#contents-list li::after {
    content: attr(data-page);
    font-weight: bold;
}
@media screen and (max-width: 680px) {
    .nameL1 {
        font-size: 2vw;
        font-weight: bold;
        padding: none;
        margin: none;
    }
    .nameL2 {
        font-size: 2vw;
        font-weight: bold;
        padding: none;
        margin: none;
    }
    .nameL3 {
        font-size: 1.5vw;
        font-weight: bold;
        padding: none;
        margin: none;
        line-height: 0.5;
    }
    .nameL4 {
        font-size: 1.5vw;
        font-weight: bold;
        padding: none;
        margin: none;
        line-height: 0.5;
    }
    .logo-gndec {
        height: 70px;
        width: 70px;
    }
  }